In [171]:
import  pandas as pd
import numpy as np
from word2number import w2n

In [172]:
df = pd.read_csv("messy_ecommerce_data.csv")

In [173]:
df.head()

,user_id,age,gender,signup_date,last_login,country,purchase_amount,items_purchased,payment_method,is_returned,rating
0,U23654,69,Female,29/10/2019,NaN,USA,4666.979509973725,11,NaN,Y,4
1,U15795,11,NaN,2020-07-19,NaN,United States,5024.7990794836505,6,NaN,yes,5
2,U00860,41,Female,29/10/2019,NaN,USA,5232.839144301124,ten,Credit Card,yes,1
3,U05390,45,male,2020-07-19,NaN,india,3223.9413587660565,14,creditcard,yes,five
4,U29802,64,NaN,NaN,2021-08-02 00:00:00,USA,5718.729293990356,5,NaN,Y,3

In [174]:
df["is_returned"].isnull().sum()

np.int64(13190)

In [175]:
df.shape

(53000, 11)

In [176]:
df.drop_duplicates(inplace=True)

In [177]:
df.shape

(50000, 11)

In [178]:
df["country"] = df["country"].str.capitalize()

In [179]:
df["country"].unique()

array(['Usa', 'United states', 'India', 'Uk', 'U.s.a', 'Germany', nan,
       'U.k.'], dtype=object)

In [180]:
df["country"] = df["country"].str.replace("Usa", "USA")
df["country"] = df["country"].str.replace("United states", "USA")
df["country"] = df["country"].str.replace("U.s.a", "USA")
df["country"] = df["country"].str.replace("Uk", "UK")
df["country"] = df["country"].str.replace("U.k.", "UK")

In [181]:
df["payment_method"].unique()

array([nan, 'Credit Card', 'creditcard', 'UPI', 'upi', 'Debit Card',
       'COD', 'NetBanking'], dtype=object)

In [182]:
df["payment_method"] = df["payment_method"].str.capitalize()

In [183]:
df["payment_method"] = df["payment_method"].str.replace("Debit card", "Debitcard")

In [184]:
df["rating"].unique()

array(['4', '5', '1', 'five', '3', nan, '2', '6', '0'], dtype=object)

In [185]:
df["rating"] = df["rating"].str.replace("five", "5")

In [186]:
df["rating"] = df["rating"].astype("float64")

In [187]:
df["rating"] = df["rating"].clip(0 , 5)

In [188]:
df["rating"] = df["rating"].fillna(df["rating"].median())

In [189]:
df["rating"] = df["rating"].astype("int32")

In [190]:
df["rating"].unique()

array([4, 5, 1, 3, 2, 0], dtype=int32)

In [191]:
df["items_purchased"].unique()

array(['11', '6', 'ten', '14', '5', '-1', '8', '7', '3', '0', '12', '13',
       '1', nan, '4', '2', '10', '9'], dtype=object)

In [192]:
df["items_purchased"] = df["items_purchased"].str.replace("ten" , "10")

In [193]:
df["items_purchased"] = df["items_purchased"].astype("float64")

In [194]:
df["items_purchased"] = df["items_purchased"].clip(0 , 50)

In [195]:
df["items_purchased"] = df["items_purchased"].fillna(df["items_purchased"].median())

In [196]:
df["items_purchased"].dtype

dtype('float64')

In [197]:
df["items_purchased"] = df["items_purchased"].astype("int32")

In [198]:
df["is_returned"].unique()

array(['Y', 'yes', nan, 'Yes', 'no', 'N', 'No'], dtype=object)

In [199]:
df["is_returned"] = df["is_returned"].str.capitalize()

In [200]:
df["is_returned"] = df["is_returned"].str.replace("Yes", "Y")

In [201]:
df["is_returned"] = df["is_returned"].str.replace("No", "N")

In [202]:
df["is_returned"].isnull().sum()

np.int64(12419)

In [203]:
df["is_returned"] = df["is_returned"].fillna("Unknown")

In [204]:
df["payment_method"] = df["payment_method"].fillna("Unknown")

In [205]:
df.head()

,user_id,age,gender,signup_date,last_login,country,purchase_amount,items_purchased,payment_method,is_returned,rating
0,U23654,69,Female,29/10/2019,NaN,USA,4666.979509973725,11,Unknown,Y,4
1,U15795,11,NaN,2020-07-19,NaN,USA,5024.7990794836505,6,Unknown,Y,5
2,U00860,41,Female,29/10/2019,NaN,USA,5232.839144301124,10,Credit card,Y,1
3,U05390,45,male,2020-07-19,NaN,India,3223.9413587660565,14,Creditcard,Y,5
4,U29802,64,NaN,NaN,2021-08-02 00:00:00,USA,5718.729293990356,5,Unknown,Y,3

In [206]:
df["age"].unique()

array(['69', '11', '41', '45', '64', '72', '78', '89', '49', '33', '67',
       '37', '71', '34', '16', '47', '80', '54', '10', '83', '73', '77',
       '79', '62', '84', '82', '39', '31', '55', '35', '18', '24', '28',
       '25', '60', '86', '43', '87', '32', '26', '22', '36', '75', '13',
       '76', '23', '20', '12', '85', '81', '19', '42', '50', nan, '68',
       '53', '29', '-5', '14', '74', '56', '70', '58', '52', '30', '?',
       '44', '200', '57', '38', '51', '63', '15', '61', '40', '88',
       'twenty', '46', '21', '17', '59', '27', '66', '65', '48'],
      dtype=object)

In [207]:
df["age"] = df["age"].str.replace("twenty", "20")

In [208]:
df["age"].loc[df["age"] == "?"].count()

np.int64(588)

In [209]:
df["gender"].unique()

array(['Female', nan, 'male', 'Male', 'M', 'Other', 'F', 'female'],
      dtype=object)

In [210]:
df["gender"] = df["gender"].str.capitalize()

In [211]:
df["gender"] = df["gender"].str.replace("Female", "F")

In [212]:
df["gender"] = df["gender"].str.replace("Male", "M")

In [213]:
df["gender"].isnull().count()

np.int64(50000)

In [214]:
df["purchase_amount"] = df["purchase_amount"].str.replace("free" , "0")
df["purchase_amount"] = df["purchase_amount"].str.replace("₹" , "0")

In [215]:
df["purchase_amount"] = df["purchase_amount"].astype("float32")

In [216]:
df["age"] = df["age"].replace("?", np.nan)

In [217]:
df["age"] = df["age"].astype("float64")

In [218]:
df

,user_id,age,gender,signup_date,last_login,country,purchase_amount,items_purchased,payment_method,is_returned,rating
0,U23654,69.0,F,29/10/2019,NaN,USA,4666.979492,11,Unknown,Y,4
1,U15795,11.0,NaN,2020-07-19,NaN,USA,5024.799316,6,Unknown,Y,5
2,U00860,41.0,F,29/10/2019,NaN,USA,5232.839355,10,Credit card,Y,1
3,U05390,45.0,M,2020-07-19,NaN,India,3223.941406,14,Creditcard,Y,5
4,U29802,64.0,NaN,NaN,2021-08-02 00:00:00,USA,5718.729492,5,Unknown,Y,3
...,...,...,...,...,...,...,...,...,...,...,...
49995,U21823,28.0,M,29/10/2019,NaN,NaN,3850.320312,12,Unknown,N,2
49996,U14182,39.0,NaN,2020-07-19,NaN,UK,8490.634766,10,Cod,Y,5
49997,U07008,200.0,M,2020-07-19,NaN,India,4113.887695,0,Creditcard,Y,1
49998,U13276,NaN,F,29/10/2019,NaN,India,5050.940430,10,Creditcard,N,5
49999,U09771,33.0,M,29/10/2019,NaN,USA,2579.606689,13,Creditcard,N,5

In [219]:
df = df.dropna(subset = "user_id")

In [220]:
df["country"].unique()

array(['USA', 'India', 'UK', 'Germany', nan], dtype=object)

In [221]:
df.to_csv("cleaned_data.csv")