In [115]:
import  pandas as pd
import numpy as np
from word2number import w2n

In [116]:
df = pd.read_csv("messy_ecommerce_data.csv")

In [117]:
df.head()

,user_id,age,gender,signup_date,last_login,country,purchase_amount,items_purchased,payment_method,is_returned,rating
0,U23654,69,Female,29/10/2019,NaN,USA,4666.979509973725,11,NaN,Y,4
1,U15795,11,NaN,2020-07-19,NaN,United States,5024.7990794836505,6,NaN,yes,5
2,U00860,41,Female,29/10/2019,NaN,USA,5232.839144301124,ten,Credit Card,yes,1
3,U05390,45,male,2020-07-19,NaN,india,3223.9413587660565,14,creditcard,yes,five
4,U29802,64,NaN,NaN,2021-08-02 00:00:00,USA,5718.729293990356,5,NaN,Y,3

In [118]:
df["is_returned"].isnull().sum()

np.int64(13190)

In [119]:
df.shape

(53000, 11)

In [120]:
df.drop_duplicates(inplace=True)

In [121]:
df.shape

(50000, 11)

In [122]:
df["country"] = df["country"].str.capitalize()

In [167]:
df["country"].unique()

array(['USA', 'India', 'UK', 'Germany', nan, 'U.k.'], dtype=object)

In [166]:
df["country"] = df["country"].str.replace("Usa", "USA")
df["country"] = df["country"].str.replace("United states", "USA")
df["country"] = df["country"].str.replace("U.s.a", "USA")
df["country"] = df["country"].str.replace("Uk", "UK")

C:\Users\raj4p\AppData\Local\Temp\ipykernel_26268\420730920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["country"] = df["country"].str.replace("Usa", "USA")
C:\Users\raj4p\AppData\Local\Temp\ipykernel_26268\420730920.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["country"] = df["country"].str.replace("United states", "USA")
C:\Users\raj4p\AppData\Local\Temp\ipykernel_26268\420730920.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["country"] = df["country"].str.replace("U.s.a", "USA")
C:\Users\raj4p\AppData\Local\Temp\ipykernel_26268\420730920.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["country"] = df["country"].str.replace("Uk", "UK")

In [125]:
df["payment_method"].unique()

array([nan, 'Credit Card', 'creditcard', 'UPI', 'upi', 'Debit Card',
       'COD', 'NetBanking'], dtype=object)

In [126]:
df["payment_method"] = df["payment_method"].str.capitalize()

In [127]:
df["payment_method"] = df["payment_method"].str.replace("Debit card", "Debitcard")

In [128]:
df["rating"].unique()

array(['4', '5', '1', 'five', '3', nan, '2', '6', '0'], dtype=object)

In [129]:
df["rating"] = df["rating"].str.replace("five", "5")

In [130]:
df["rating"] = df["rating"].astype("float64")

In [131]:
df["rating"] = df["rating"].clip(0 , 5)

In [132]:
df["rating"] = df["rating"].fillna(df["rating"].median())

In [133]:
df["rating"] = df["rating"].astype("int32")

In [134]:
df["rating"].unique()

array([4, 5, 1, 3, 2, 0], dtype=int32)

In [135]:
df["items_purchased"].unique()

array(['11', '6', 'ten', '14', '5', '-1', '8', '7', '3', '0', '12', '13',
       '1', nan, '4', '2', '10', '9'], dtype=object)

In [136]:
df["items_purchased"] = df["items_purchased"].str.replace("ten" , "10")

In [137]:
df["items_purchased"] = df["items_purchased"].astype("float64")

In [138]:
df["items_purchased"] = df["items_purchased"].clip(0 , 50)

In [139]:
df["items_purchased"] = df["items_purchased"].fillna(df["items_purchased"].median())

In [140]:
df["items_purchased"].dtype

dtype('float64')

In [141]:
df["items_purchased"] = df["items_purchased"].astype("int32")

In [142]:
df["is_returned"].unique()

array(['Y', 'yes', nan, 'Yes', 'no', 'N', 'No'], dtype=object)

In [143]:
df["is_returned"] = df["is_returned"].str.capitalize()

In [144]:
df["is_returned"] = df["is_returned"].str.replace("Yes", "Y")

In [145]:
df["is_returned"] = df["is_returned"].str.replace("No", "N")

In [146]:
df["is_returned"].isnull().sum()

np.int64(12419)

In [147]:
df["is_returned"] = df["is_returned"].fillna("Unknown")

In [148]:
df["payment_method"] = df["payment_method"].fillna("Unknown")

In [149]:
df.head()

,user_id,age,gender,signup_date,last_login,country,purchase_amount,items_purchased,payment_method,is_returned,rating
0,U23654,69,Female,29/10/2019,NaN,USA,4666.979509973725,11,Unknown,Y,4
1,U15795,11,NaN,2020-07-19,NaN,United states,5024.7990794836505,6,Unknown,Y,5
2,U00860,41,Female,29/10/2019,NaN,USA,5232.839144301124,10,Credit card,Y,1
3,U05390,45,male,2020-07-19,NaN,India,3223.9413587660565,14,Creditcard,Y,5
4,U29802,64,NaN,NaN,2021-08-02 00:00:00,USA,5718.729293990356,5,Unknown,Y,3

In [150]:
df["age"].unique()

array(['69', '11', '41', '45', '64', '72', '78', '89', '49', '33', '67',
       '37', '71', '34', '16', '47', '80', '54', '10', '83', '73', '77',
       '79', '62', '84', '82', '39', '31', '55', '35', '18', '24', '28',
       '25', '60', '86', '43', '87', '32', '26', '22', '36', '75', '13',
       '76', '23', '20', '12', '85', '81', '19', '42', '50', nan, '68',
       '53', '29', '-5', '14', '74', '56', '70', '58', '52', '30', '?',
       '44', '200', '57', '38', '51', '63', '15', '61', '40', '88',
       'twenty', '46', '21', '17', '59', '27', '66', '65', '48'],
      dtype=object)

In [151]:
df["age"] = df["age"].str.replace("twenty", "20")

In [152]:
df["age"].loc[df["age"] == "?"].count()

np.int64(588)

In [153]:
df["gender"].unique()

array(['Female', nan, 'male', 'Male', 'M', 'Other', 'F', 'female'],
      dtype=object)

In [154]:
df["gender"] = df["gender"].str.capitalize()

In [155]:
df["gender"] = df["gender"].str.replace("Female", "F")

In [156]:
df["gender"] = df["gender"].str.replace("Male", "M")

In [157]:
df["gender"].isnull().count()

np.int64(50000)

In [158]:
df["purchase_amount"] = df["purchase_amount"].str.replace("free" , "0")
df["purchase_amount"] = df["purchase_amount"].str.replace("₹" , "0")

In [159]:
df["purchase_amount"] = df["purchase_amount"].astype("float32")

In [160]:
df["age"] = df["age"].replace("?", np.nan)

In [161]:
df["age"] = df["age"].astype("float64")

In [162]:
df

,user_id,age,gender,signup_date,last_login,country,purchase_amount,items_purchased,payment_method,is_returned,rating
0,U23654,69.0,F,29/10/2019,NaN,USA,4666.979492,11,Unknown,Y,4
1,U15795,11.0,NaN,2020-07-19,NaN,United states,5024.799316,6,Unknown,Y,5
2,U00860,41.0,F,29/10/2019,NaN,USA,5232.839355,10,Credit card,Y,1
3,U05390,45.0,M,2020-07-19,NaN,India,3223.941406,14,Creditcard,Y,5
4,U29802,64.0,NaN,NaN,2021-08-02 00:00:00,USA,5718.729492,5,Unknown,Y,3
...,...,...,...,...,...,...,...,...,...,...,...
49995,U21823,28.0,M,29/10/2019,NaN,NaN,3850.320312,12,Unknown,N,2
49996,U14182,39.0,NaN,2020-07-19,NaN,U.k.,8490.634766,10,Cod,Y,5
49997,U07008,200.0,M,2020-07-19,NaN,India,4113.887695,0,Creditcard,Y,1
49998,U13276,NaN,F,29/10/2019,NaN,India,5050.940430,10,Creditcard,N,5
49999,U09771,33.0,M,29/10/2019,NaN,U.s.a,2579.606689,13,Creditcard,N,5

In [163]:
df = df.dropna(subset = "user_id")

In [164]:
df["country"].unique()

array(['USA', 'United states', 'India', 'Uk', 'U.s.a', 'Germany', nan,
       'U.k.'], dtype=object)

In [168]:
df.to_csv("cleaned_data.csv")