In [2]:
import pandas as pd
import numpy as np

# Creating the "dirty" dataset
data = {
    'TransactionID': [101, 102, 103, 101, 105, 106, 107, 108, 109, 110],
    'Customer_Name': ['Rohan', 'Priya', 'Amit', 'Rohan', 'Suresh', 'Natasha', 'Rahul', 'Isha', 'Vikram', 'Anjali'],
    'Product_Price': ['$700', '$450', '250', '$700', np.nan, '$1200', '$300', '450', '$800', '$150'],
    'Quantity': [1, 2, 1, 1, 3, 1, 2, np.nan, 1, 5],
    'Order_Date': ['2024-01-10', '2024/01/11', '12-01-2024', '2024-01-10', '2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20'],
    'Payment_Method': ['UPI', 'Credit Card', 'Cash', 'UPI', 'Debit Card', 'UPI', 'Credit Card', 'Cash', 'UPI', 'Net Banking']
}

df = pd.DataFrame(data)

print("Dataset Created Successfully!")

Dataset Created Successfully!

In [3]:
df.head()

,TransactionID,Customer_Name,Product_Price,Quantity,Order_Date,Payment_Method
0,101,Rohan,$700,1.0,2024-01-10,UPI
1,102,Priya,$450,2.0,2024/01/11,Credit Card
2,103,Amit,250,1.0,12-01-2024,Cash
3,101,Rohan,$700,1.0,2024-01-10,UPI
4,105,Suresh,NaN,3.0,2024-01-15,Debit Card

In [4]:
df.shape

(10, 6)

In [5]:
df.isnull()

,TransactionID,Customer_Name,Product_Price,Quantity,Order_Date,Payment_Method
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,True,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,True,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False

In [6]:
df.describe()

       TransactionID  Quantity
count       10.00000  9.000000
mean       105.20000  1.888889
std          3.32666  1.364225
min        101.00000  1.000000
25%        102.25000  1.000000
50%        105.50000  1.000000
75%        107.75000  2.000000
max        110.00000  5.000000

In [7]:
df["Product_Price"]

0     $700
1     $450
2      250
3     $700
4      NaN
5    $1200
6     $300
7      450
8     $800
9     $150
Name: Product_Price, dtype: object

In [8]:
df["Product_Price"] = df["Product_Price"].str.replace("$", "")

In [14]:
df["Product_Price"] = pd.to_numeric(df["Product_Price"])

In [13]:
df["Product_Price"].dtypes

dtype('float64')