In [281]:
from doctest import REPORT_CDIFF

import pandas as pd
import numpy as np
import io

# The "Dirty" Dataset
csv_data = """
Product_ID,Product_Name,Category,Price,Stock_Count,Rating
101,Wireless Mouse,Electronics,25.50,100,4.5
102,Mechanical Keyboard,Electronics,45.00,50,4.7
103,Gaming Monitor,Electronics,250.00,20,4.8
101,Wireless Mouse,Electronics,25.50,100,4.5
104,Bluetooth Speaker,electronics,35.00,nan,4.2
105,Smart Watch,Wearables,150.00,30,4.6
106,Running Shoes,Clothing,nan,25,4.1
107,Leather Jacket,Clothing,$120.00,10,4.9
108,Winter Scarf,Clothing,15.50,-5,3.8
109,,Toys,20.00,50,4.0
"""

# Load it into a DataFrame
df = pd.read_csv(io.StringIO(csv_data))

print("--- Original Messy Data ---")
print(df)

--- Original Messy Data ---
   Product_ID         Product_Name     Category    Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics    25.50        100.0     4.5
1         102  Mechanical Keyboard  Electronics    45.00         50.0     4.7
2         103       Gaming Monitor  Electronics   250.00         20.0     4.8
3         101       Wireless Mouse  Electronics    25.50        100.0     4.5
4         104    Bluetooth Speaker  electronics    35.00          NaN     4.2
5         105          Smart Watch    Wearables   150.00         30.0     4.6
6         106        Running Shoes     Clothing      NaN         25.0     4.1
7         107       Leather Jacket     Clothing  $120.00         10.0     4.9
8         108         Winter Scarf     Clothing    15.50         -5.0     3.8
9         109                  NaN         Toys    20.00         50.0     4.0

In [282]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_ID    10 non-null     int64
 1   Product_Name  9 non-null      object
 2   Category      10 non-null     object
 3   Price         9 non-null      object
 4   Stock_Count   9 non-null      float64
 5   Rating        10 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 612.0+ bytes

In [283]:
df.isnull

<bound method DataFrame.isnull of    Product_ID         Product_Name     Category    Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics    25.50        100.0     4.5
1         102  Mechanical Keyboard  Electronics    45.00         50.0     4.7
2         103       Gaming Monitor  Electronics   250.00         20.0     4.8
3         101       Wireless Mouse  Electronics    25.50        100.0     4.5
4         104    Bluetooth Speaker  electronics    35.00          NaN     4.2
5         105          Smart Watch    Wearables   150.00         30.0     4.6
6         106        Running Shoes     Clothing      NaN         25.0     4.1
7         107       Leather Jacket     Clothing  $120.00         10.0     4.9
8         108         Winter Scarf     Clothing    15.50         -5.0     3.8
9         109                  NaN         Toys    20.00         50.0     4.0>

In [284]:
df

   Product_ID         Product_Name     Category    Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics    25.50        100.0     4.5
1         102  Mechanical Keyboard  Electronics    45.00         50.0     4.7
2         103       Gaming Monitor  Electronics   250.00         20.0     4.8
3         101       Wireless Mouse  Electronics    25.50        100.0     4.5
4         104    Bluetooth Speaker  electronics    35.00          NaN     4.2
5         105          Smart Watch    Wearables   150.00         30.0     4.6
6         106        Running Shoes     Clothing      NaN         25.0     4.1
7         107       Leather Jacket     Clothing  $120.00         10.0     4.9
8         108         Winter Scarf     Clothing    15.50         -5.0     3.8
9         109                  NaN         Toys    20.00         50.0     4.0

In [285]:
df["Price"] = df["Price"].str.replace("$", "")

In [286]:
df["Price"] = df["Price"].astype(float)

In [287]:
df["Price"] = df["Price"].fillna(df["Price"].median())

In [288]:
df["Price"]

0     25.5
1     45.0
2    250.0
3     25.5
4     35.0
5    150.0
6     35.0
7    120.0
8     15.5
9     20.0
Name: Price, dtype: float64

In [289]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0          NaN     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5         -5.0     3.8
9         109                  NaN         Toys   20.0         50.0     4.0

In [290]:
df.duplicated()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [291]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0          NaN     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5         -5.0     3.8
9         109                  NaN         Toys   20.0         50.0     4.0

In [292]:
df.dropna(subset=["Product_Name"], inplace=True)

In [293]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0          NaN     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5         -5.0     3.8

In [294]:
df.shape

(9, 6)

In [295]:
mask = df["Stock_Count"] < 0
df.loc[mask, "Stock_Count"] = 0

In [296]:
df["Stock_Count"]

0    100.0
1     50.0
2     20.0
3    100.0
4      NaN
5     30.0
6     25.0
7     10.0
8      0.0
Name: Stock_Count, dtype: float64

In [297]:
df["Stock_Count"] = df["Stock_Count"].fillna(df["Stock_Count"].median())

In [298]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0         27.5     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5          0.0     3.8

In [299]:
print(df)

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0         27.5     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5          0.0     3.8

In [300]:
df = df.drop_duplicates()

In [301]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
4         104    Bluetooth Speaker  electronics   35.0         27.5     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5          0.0     3.8

In [302]:
df["Category"] = df["Category"].str.lower()

C:\Users\raj4p\AppData\Local\Temp\ipykernel_1900\1715965479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Category"] = df["Category"].str.lower()

In [303]:
df["Category"]

0    electronics
1    electronics
2    electronics
4    electronics
5      wearables
6       clothing
7       clothing
8       clothing
Name: Category, dtype: object

In [304]:
print(df)

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  electronics   45.0         50.0     4.7
2         103       Gaming Monitor  electronics  250.0         20.0     4.8
4         104    Bluetooth Speaker  electronics   35.0         27.5     4.2
5         105          Smart Watch    wearables  150.0         30.0     4.6
6         106        Running Shoes     clothing   35.0         25.0     4.1
7         107       Leather Jacket     clothing  120.0         10.0     4.9
8         108         Winter Scarf     clothing   15.5          0.0     3.8

In [305]:
df["Total_Value"] = df["Price"] * df["Stock_Count"]

C:\Users\raj4p\AppData\Local\Temp\ipykernel_1900\1780194550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Total_Value"] = df["Price"] * df["Stock_Count"]

In [306]:
df

,Product_ID,Product_Name,Category,Price,Stock_Count,Rating,Total_Value
0,101,Wireless Mouse,electronics,25.5,100.0,4.5,2550.0
1,102,Mechanical Keyboard,electronics,45.0,50.0,4.7,2250.0
2,103,Gaming Monitor,electronics,250.0,20.0,4.8,5000.0
4,104,Bluetooth Speaker,electronics,35.0,27.5,4.2,962.5
5,105,Smart Watch,wearables,150.0,30.0,4.6,4500.0
6,106,Running Shoes,clothing,35.0,25.0,4.1,875.0
7,107,Leather Jacket,clothing,120.0,10.0,4.9,1200.0
8,108,Winter Scarf,clothing,15.5,0.0,3.8,0.0

In [307]:
report = df.groupby("Category")["Total_Value"].sum()

In [308]:
print(report)

Category
clothing        2075.0
electronics    10762.5
wearables       4500.0
Name: Total_Value, dtype: float64

In [309]:
report

Category
clothing        2075.0
electronics    10762.5
wearables       4500.0
Name: Total_Value, dtype: float64

In [310]:
df.reset_index(drop=True, inplace=True)

In [311]:
df

,Product_ID,Product_Name,Category,Price,Stock_Count,Rating,Total_Value
0,101,Wireless Mouse,electronics,25.5,100.0,4.5,2550.0
1,102,Mechanical Keyboard,electronics,45.0,50.0,4.7,2250.0
2,103,Gaming Monitor,electronics,250.0,20.0,4.8,5000.0
3,104,Bluetooth Speaker,electronics,35.0,27.5,4.2,962.5
4,105,Smart Watch,wearables,150.0,30.0,4.6,4500.0
5,106,Running Shoes,clothing,35.0,25.0,4.1,875.0
6,107,Leather Jacket,clothing,120.0,10.0,4.9,1200.0
7,108,Winter Scarf,clothing,15.5,0.0,3.8,0.0

In [312]:
print(df)

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating  \
0         101       Wireless Mouse  electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  electronics   45.0         50.0     4.7
2         103       Gaming Monitor  electronics  250.0         20.0     4.8
3         104    Bluetooth Speaker  electronics   35.0         27.5     4.2
4         105          Smart Watch    wearables  150.0         30.0     4.6
5         106        Running Shoes     clothing   35.0         25.0     4.1
6         107       Leather Jacket     clothing  120.0         10.0     4.9
7         108         Winter Scarf     clothing   15.5          0.0     3.8

   Total_Value
0       2550.0
1       2250.0
2       5000.0
3        962.5
4       4500.0
5        875.0
6       1200.0
7          0.0

In [313]:
df.to_csv("data.csv", index=False)