In [109]:
import pandas as pd
import numpy as np
import io

# The "Dirty" Dataset
csv_data = """
Product_ID,Product_Name,Category,Price,Stock_Count,Rating
101,Wireless Mouse,Electronics,25.50,100,4.5
102,Mechanical Keyboard,Electronics,45.00,50,4.7
103,Gaming Monitor,Electronics,250.00,20,4.8
101,Wireless Mouse,Electronics,25.50,100,4.5
104,Bluetooth Speaker,electronics,35.00,nan,4.2
105,Smart Watch,Wearables,150.00,30,4.6
106,Running Shoes,Clothing,nan,25,4.1
107,Leather Jacket,Clothing,$120.00,10,4.9
108,Winter Scarf,Clothing,15.50,-5,3.8
109,,Toys,20.00,50,4.0
"""

# Load it into a DataFrame
df = pd.read_csv(io.StringIO(csv_data))

print("--- Original Messy Data ---")
print(df)

--- Original Messy Data ---
   Product_ID         Product_Name     Category    Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics    25.50        100.0     4.5
1         102  Mechanical Keyboard  Electronics    45.00         50.0     4.7
2         103       Gaming Monitor  Electronics   250.00         20.0     4.8
3         101       Wireless Mouse  Electronics    25.50        100.0     4.5
4         104    Bluetooth Speaker  electronics    35.00          NaN     4.2
5         105          Smart Watch    Wearables   150.00         30.0     4.6
6         106        Running Shoes     Clothing      NaN         25.0     4.1
7         107       Leather Jacket     Clothing  $120.00         10.0     4.9
8         108         Winter Scarf     Clothing    15.50         -5.0     3.8
9         109                  NaN         Toys    20.00         50.0     4.0

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_ID    10 non-null     int64
 1   Product_Name  9 non-null      object
 2   Category      10 non-null     object
 3   Price         9 non-null      object
 4   Stock_Count   9 non-null      float64
 5   Rating        10 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 612.0+ bytes

In [111]:
df.isnull

<bound method DataFrame.isnull of    Product_ID         Product_Name     Category    Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics    25.50        100.0     4.5
1         102  Mechanical Keyboard  Electronics    45.00         50.0     4.7
2         103       Gaming Monitor  Electronics   250.00         20.0     4.8
3         101       Wireless Mouse  Electronics    25.50        100.0     4.5
4         104    Bluetooth Speaker  electronics    35.00          NaN     4.2
5         105          Smart Watch    Wearables   150.00         30.0     4.6
6         106        Running Shoes     Clothing      NaN         25.0     4.1
7         107       Leather Jacket     Clothing  $120.00         10.0     4.9
8         108         Winter Scarf     Clothing    15.50         -5.0     3.8
9         109                  NaN         Toys    20.00         50.0     4.0>

In [112]:
df

   Product_ID         Product_Name     Category    Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics    25.50        100.0     4.5
1         102  Mechanical Keyboard  Electronics    45.00         50.0     4.7
2         103       Gaming Monitor  Electronics   250.00         20.0     4.8
3         101       Wireless Mouse  Electronics    25.50        100.0     4.5
4         104    Bluetooth Speaker  electronics    35.00          NaN     4.2
5         105          Smart Watch    Wearables   150.00         30.0     4.6
6         106        Running Shoes     Clothing      NaN         25.0     4.1
7         107       Leather Jacket     Clothing  $120.00         10.0     4.9
8         108         Winter Scarf     Clothing    15.50         -5.0     3.8
9         109                  NaN         Toys    20.00         50.0     4.0

In [113]:
df["Price"] = df["Price"].str.replace("$", "")

In [114]:
df["Price"] = df["Price"].astype(float)

In [115]:
df["Price"] = df["Price"].fillna(df["Price"].median())

In [116]:
df["Price"]

0     25.5
1     45.0
2    250.0
3     25.5
4     35.0
5    150.0
6     35.0
7    120.0
8     15.5
9     20.0
Name: Price, dtype: float64

In [117]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0          NaN     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5         -5.0     3.8
9         109                  NaN         Toys   20.0         50.0     4.0

In [118]:
df.duplicated()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [119]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0          NaN     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5         -5.0     3.8
9         109                  NaN         Toys   20.0         50.0     4.0

In [120]:
df.dropna(subset=["Product_Name"], inplace=True)

In [121]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0          NaN     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5         -5.0     3.8

In [122]:
df.shape

(9, 6)