In [42]:
import  pandas as pd
from word2number import w2n

In [43]:
df = pd.read_csv("messy_ecommerce_data.csv")

In [44]:
df.head()

,user_id,age,gender,signup_date,last_login,country,purchase_amount,items_purchased,payment_method,is_returned,rating
0,U23654,69,Female,29/10/2019,NaN,USA,4666.979509973725,11,NaN,Y,4
1,U15795,11,NaN,2020-07-19,NaN,United States,5024.7990794836505,6,NaN,yes,5
2,U00860,41,Female,29/10/2019,NaN,USA,5232.839144301124,ten,Credit Card,yes,1
3,U05390,45,male,2020-07-19,NaN,india,3223.9413587660565,14,creditcard,yes,five
4,U29802,64,NaN,NaN,2021-08-02 00:00:00,USA,5718.729293990356,5,NaN,Y,3

In [45]:
df["is_returned"].isnull().sum()

np.int64(13190)

In [46]:
df.shape

(53000, 11)

In [47]:
df.drop_duplicates(inplace=True)

In [48]:
df.shape

(50000, 11)

In [49]:
df["country"] = df["country"].str.capitalize()

In [50]:
df["country"].unique()

array(['Usa', 'United states', 'India', 'Uk', 'U.s.a', 'Germany', nan,
       'U.k.'], dtype=object)

In [51]:
df["country"] = df["country"].str.replace("Usa", "USA")

In [52]:
df["payment_method"].unique()

array([nan, 'Credit Card', 'creditcard', 'UPI', 'upi', 'Debit Card',
       'COD', 'NetBanking'], dtype=object)

In [53]:
df["payment_method"] = df["payment_method"].str.capitalize()

In [54]:
df["payment_method"] = df["payment_method"].str.replace("Debit card", "Debitcard")

In [55]:
df["rating"].unique()

array(['4', '5', '1', 'five', '3', nan, '2', '6', '0'], dtype=object)

In [56]:
df["rating"] = df["rating"].str.replace("five", "5")

In [57]:
df["rating"] = df["rating"].astype("float64")

In [58]:
df["rating"] = df["rating"].clip(0 , 5)

In [59]:
df["rating"] = df["rating"].fillna(df["rating"].median())

In [60]:
df["rating"] = df["rating"].astype("int32")

In [61]:
df["rating"].unique()

array([4, 5, 1, 3, 2, 0], dtype=int32)

In [62]:
df["items_purchased"].unique()

array(['11', '6', 'ten', '14', '5', '-1', '8', '7', '3', '0', '12', '13',
       '1', nan, '4', '2', '10', '9'], dtype=object)

In [63]:
df["items_purchased"] = df["items_purchased"].str.replace("ten" , "10")

In [64]:
df["items_purchased"] = df["items_purchased"].astype("float64")

In [65]:
df["items_purchased"] = df["items_purchased"].clip(0 , 50)

In [66]:
df["items_purchased"] = df["items_purchased"].fillna(df["items_purchased"].median())

In [67]:
df["items_purchased"].dtype

dtype('float64')

In [68]:
df["items_purchased"] = df["items_purchased"].astype("int32")

In [69]:
df["is_returned"].unique()

array(['Y', 'yes', nan, 'Yes', 'no', 'N', 'No'], dtype=object)

In [70]:
df["is_returned"] = df["is_returned"].str.capitalize()

In [71]:
df["is_returned"] = df["is_returned"].str.replace("Yes", "Y")

In [72]:
df["is_returned"] = df["is_returned"].str.replace("No", "N")

In [73]:
df["is_returned"].isnull().sum()

np.int64(12419)

In [74]:
df["is_returned"] = df["is_returned"].fillna("Unknown")

In [75]:
df["payment_method"] = df["payment_method"].fillna("Unknown")

In [76]:
df.head()

,user_id,age,gender,signup_date,last_login,country,purchase_amount,items_purchased,payment_method,is_returned,rating
0,U23654,69,Female,29/10/2019,NaN,USA,4666.979509973725,11,Unknown,Y,4
1,U15795,11,NaN,2020-07-19,NaN,United states,5024.7990794836505,6,Unknown,Y,5
2,U00860,41,Female,29/10/2019,NaN,USA,5232.839144301124,10,Credit card,Y,1
3,U05390,45,male,2020-07-19,NaN,India,3223.9413587660565,14,Creditcard,Y,5
4,U29802,64,NaN,NaN,2021-08-02 00:00:00,USA,5718.729293990356,5,Unknown,Y,3

In [77]:
df["age"].unique()

array(['69', '11', '41', '45', '64', '72', '78', '89', '49', '33', '67',
       '37', '71', '34', '16', '47', '80', '54', '10', '83', '73', '77',
       '79', '62', '84', '82', '39', '31', '55', '35', '18', '24', '28',
       '25', '60', '86', '43', '87', '32', '26', '22', '36', '75', '13',
       '76', '23', '20', '12', '85', '81', '19', '42', '50', nan, '68',
       '53', '29', '-5', '14', '74', '56', '70', '58', '52', '30', '?',
       '44', '200', '57', '38', '51', '63', '15', '61', '40', '88',
       'twenty', '46', '21', '17', '59', '27', '66', '65', '48'],
      dtype=object)

In [78]:
df["age"] = df["age"].str.replace("twenty", "20")

In [79]:
df["age"].loc[df["age"] == "?"].count()

np.int64(588)

In [86]:
df["gender"].unique()

array(['F', nan, 'M', 'Other'], dtype=object)

In [82]:
df["gender"] = df["gender"].str.capitalize()

In [84]:
df["gender"] = df["gender"].str.replace("Female", "F")

In [85]:
df["gender"] = df["gender"].str.replace("Male", "M")

In [88]:
df["gender"].isnull().count()

np.int64(50000)