In [1]:
from doctest import REPORT_CDIFF

import pandas as pd
import numpy as np
import io

# The "Dirty" Dataset
csv_data = """
Product_ID,Product_Name,Category,Price,Stock_Count,Rating
101,Wireless Mouse,Electronics,25.50,100,4.5
102,Mechanical Keyboard,Electronics,45.00,50,4.7
103,Gaming Monitor,Electronics,250.00,20,4.8
101,Wireless Mouse,Electronics,25.50,100,4.5
104,Bluetooth Speaker,electronics,35.00,nan,4.2
105,Smart Watch,Wearables,150.00,30,4.6
106,Running Shoes,Clothing,nan,25,4.1
107,Leather Jacket,Clothing,$120.00,10,4.9
108,Winter Scarf,Clothing,15.50,-5,3.8
109,,Toys,20.00,50,4.0
"""

# Load it into a DataFrame
df = pd.read_csv(io.StringIO(csv_data))

print("--- Original Messy Data ---")
print(df)

--- Original Messy Data ---
   Product_ID         Product_Name     Category    Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics    25.50        100.0     4.5
1         102  Mechanical Keyboard  Electronics    45.00         50.0     4.7
2         103       Gaming Monitor  Electronics   250.00         20.0     4.8
3         101       Wireless Mouse  Electronics    25.50        100.0     4.5
4         104    Bluetooth Speaker  electronics    35.00          NaN     4.2
5         105          Smart Watch    Wearables   150.00         30.0     4.6
6         106        Running Shoes     Clothing      NaN         25.0     4.1
7         107       Leather Jacket     Clothing  $120.00         10.0     4.9
8         108         Winter Scarf     Clothing    15.50         -5.0     3.8
9         109                  NaN         Toys    20.00         50.0     4.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_ID    10 non-null     int64
 1   Product_Name  9 non-null      object
 2   Category      10 non-null     object
 3   Price         9 non-null      object
 4   Stock_Count   9 non-null      float64
 5   Rating        10 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 612.0+ bytes

In [3]:
df.isnull

<bound method DataFrame.isnull of    Product_ID         Product_Name     Category    Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics    25.50        100.0     4.5
1         102  Mechanical Keyboard  Electronics    45.00         50.0     4.7
2         103       Gaming Monitor  Electronics   250.00         20.0     4.8
3         101       Wireless Mouse  Electronics    25.50        100.0     4.5
4         104    Bluetooth Speaker  electronics    35.00          NaN     4.2
5         105          Smart Watch    Wearables   150.00         30.0     4.6
6         106        Running Shoes     Clothing      NaN         25.0     4.1
7         107       Leather Jacket     Clothing  $120.00         10.0     4.9
8         108         Winter Scarf     Clothing    15.50         -5.0     3.8
9         109                  NaN         Toys    20.00         50.0     4.0>

In [4]:
df

   Product_ID         Product_Name     Category    Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics    25.50        100.0     4.5
1         102  Mechanical Keyboard  Electronics    45.00         50.0     4.7
2         103       Gaming Monitor  Electronics   250.00         20.0     4.8
3         101       Wireless Mouse  Electronics    25.50        100.0     4.5
4         104    Bluetooth Speaker  electronics    35.00          NaN     4.2
5         105          Smart Watch    Wearables   150.00         30.0     4.6
6         106        Running Shoes     Clothing      NaN         25.0     4.1
7         107       Leather Jacket     Clothing  $120.00         10.0     4.9
8         108         Winter Scarf     Clothing    15.50         -5.0     3.8
9         109                  NaN         Toys    20.00         50.0     4.0

In [5]:
df["Price"] = df["Price"].str.replace("$", "")

In [6]:
df["Price"] = df["Price"].astype(float)

In [7]:
df["Price"] = df["Price"].fillna(df["Price"].median())

In [8]:
df["Price"]

0     25.5
1     45.0
2    250.0
3     25.5
4     35.0
5    150.0
6     35.0
7    120.0
8     15.5
9     20.0
Name: Price, dtype: float64

In [9]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0          NaN     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5         -5.0     3.8
9         109                  NaN         Toys   20.0         50.0     4.0

In [10]:
df.duplicated()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [11]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0          NaN     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5         -5.0     3.8
9         109                  NaN         Toys   20.0         50.0     4.0

In [12]:
df.dropna(subset=["Product_Name"], inplace=True)

In [13]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0          NaN     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5         -5.0     3.8

In [14]:
df.shape

(9, 6)

In [15]:
mask = df["Stock_Count"] < 0
df.loc[mask, "Stock_Count"] = 0

In [16]:
df["Stock_Count"]

0    100.0
1     50.0
2     20.0
3    100.0
4      NaN
5     30.0
6     25.0
7     10.0
8      0.0
Name: Stock_Count, dtype: float64

In [17]:
df["Stock_Count"] = df["Stock_Count"].fillna(df["Stock_Count"].median())

In [18]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0         27.5     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5          0.0     3.8

In [19]:
print(df)

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
3         101       Wireless Mouse  Electronics   25.5        100.0     4.5
4         104    Bluetooth Speaker  electronics   35.0         27.5     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5          0.0     3.8

In [20]:
df = df.drop_duplicates()

In [21]:
df

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  Electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  Electronics   45.0         50.0     4.7
2         103       Gaming Monitor  Electronics  250.0         20.0     4.8
4         104    Bluetooth Speaker  electronics   35.0         27.5     4.2
5         105          Smart Watch    Wearables  150.0         30.0     4.6
6         106        Running Shoes     Clothing   35.0         25.0     4.1
7         107       Leather Jacket     Clothing  120.0         10.0     4.9
8         108         Winter Scarf     Clothing   15.5          0.0     3.8

In [22]:
df["Category"] = df["Category"].str.lower()

C:\Users\raj4p\AppData\Local\Temp\ipykernel_17532\1715965479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Category"] = df["Category"].str.lower()

In [23]:
df["Category"]

0    electronics
1    electronics
2    electronics
4    electronics
5      wearables
6       clothing
7       clothing
8       clothing
Name: Category, dtype: object

In [24]:
print(df)

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating
0         101       Wireless Mouse  electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  electronics   45.0         50.0     4.7
2         103       Gaming Monitor  electronics  250.0         20.0     4.8
4         104    Bluetooth Speaker  electronics   35.0         27.5     4.2
5         105          Smart Watch    wearables  150.0         30.0     4.6
6         106        Running Shoes     clothing   35.0         25.0     4.1
7         107       Leather Jacket     clothing  120.0         10.0     4.9
8         108         Winter Scarf     clothing   15.5          0.0     3.8

In [25]:
df["Total_Value"] = df["Price"] * df["Stock_Count"]

C:\Users\raj4p\AppData\Local\Temp\ipykernel_17532\1780194550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Total_Value"] = df["Price"] * df["Stock_Count"]

In [26]:
df

,Product_ID,Product_Name,Category,Price,Stock_Count,Rating,Total_Value
0,101,Wireless Mouse,electronics,25.5,100.0,4.5,2550.0
1,102,Mechanical Keyboard,electronics,45.0,50.0,4.7,2250.0
2,103,Gaming Monitor,electronics,250.0,20.0,4.8,5000.0
4,104,Bluetooth Speaker,electronics,35.0,27.5,4.2,962.5
5,105,Smart Watch,wearables,150.0,30.0,4.6,4500.0
6,106,Running Shoes,clothing,35.0,25.0,4.1,875.0
7,107,Leather Jacket,clothing,120.0,10.0,4.9,1200.0
8,108,Winter Scarf,clothing,15.5,0.0,3.8,0.0

In [27]:
report = df.groupby("Category")["Total_Value"].sum()

In [28]:
print(report)

Category
clothing        2075.0
electronics    10762.5
wearables       4500.0
Name: Total_Value, dtype: float64

In [29]:
report

Category
clothing        2075.0
electronics    10762.5
wearables       4500.0
Name: Total_Value, dtype: float64

In [30]:
df.reset_index(drop=True, inplace=True)

In [31]:
df

,Product_ID,Product_Name,Category,Price,Stock_Count,Rating,Total_Value
0,101,Wireless Mouse,electronics,25.5,100.0,4.5,2550.0
1,102,Mechanical Keyboard,electronics,45.0,50.0,4.7,2250.0
2,103,Gaming Monitor,electronics,250.0,20.0,4.8,5000.0
3,104,Bluetooth Speaker,electronics,35.0,27.5,4.2,962.5
4,105,Smart Watch,wearables,150.0,30.0,4.6,4500.0
5,106,Running Shoes,clothing,35.0,25.0,4.1,875.0
6,107,Leather Jacket,clothing,120.0,10.0,4.9,1200.0
7,108,Winter Scarf,clothing,15.5,0.0,3.8,0.0

In [32]:
print(df)

   Product_ID         Product_Name     Category  Price  Stock_Count  Rating  \
0         101       Wireless Mouse  electronics   25.5        100.0     4.5
1         102  Mechanical Keyboard  electronics   45.0         50.0     4.7
2         103       Gaming Monitor  electronics  250.0         20.0     4.8
3         104    Bluetooth Speaker  electronics   35.0         27.5     4.2
4         105          Smart Watch    wearables  150.0         30.0     4.6
5         106        Running Shoes     clothing   35.0         25.0     4.1
6         107       Leather Jacket     clothing  120.0         10.0     4.9
7         108         Winter Scarf     clothing   15.5          0.0     3.8

   Total_Value
0       2550.0
1       2250.0
2       5000.0
3        962.5
4       4500.0
5        875.0
6       1200.0
7          0.0

In [33]:
df.to_csv("data.csv", index=False)

In [34]:
sales_data = {
    'Product_ID': [101, 103, 107, 101, 105, 110], # Note: 110 is a new product!
    'Units_Sold': [5, 2, 1, 3, 2, 5]
}

In [35]:
df_sales = pd.DataFrame(sales_data)

In [36]:
df_sales

   Product_ID  Units_Sold
0         101           5
1         103           2
2         107           1
3         101           3
4         105           2
5         110           5

In [37]:
df_merged = df.merge(df_sales, how= "left", on='Product_ID')

In [38]:
df_merged

,Product_ID,Product_Name,Category,Price,Stock_Count,Rating,Total_Value,Units_Sold
0,101,Wireless Mouse,electronics,25.5,100.0,4.5,2550.0,5.0
1,101,Wireless Mouse,electronics,25.5,100.0,4.5,2550.0,3.0
2,102,Mechanical Keyboard,electronics,45.0,50.0,4.7,2250.0,NaN
3,103,Gaming Monitor,electronics,250.0,20.0,4.8,5000.0,2.0
4,104,Bluetooth Speaker,electronics,35.0,27.5,4.2,962.5,NaN
5,105,Smart Watch,wearables,150.0,30.0,4.6,4500.0,2.0
6,106,Running Shoes,clothing,35.0,25.0,4.1,875.0,NaN
7,107,Leather Jacket,clothing,120.0,10.0,4.9,1200.0,1.0
8,108,Winter Scarf,clothing,15.5,0.0,3.8,0.0,NaN

In [39]:
df_merged["Units_Sold"] = df_merged["Units_Sold"].fillna(0)

In [40]:
df_merged

,Product_ID,Product_Name,Category,Price,Stock_Count,Rating,Total_Value,Units_Sold
0,101,Wireless Mouse,electronics,25.5,100.0,4.5,2550.0,5.0
1,101,Wireless Mouse,electronics,25.5,100.0,4.5,2550.0,3.0
2,102,Mechanical Keyboard,electronics,45.0,50.0,4.7,2250.0,0.0
3,103,Gaming Monitor,electronics,250.0,20.0,4.8,5000.0,2.0
4,104,Bluetooth Speaker,electronics,35.0,27.5,4.2,962.5,0.0
5,105,Smart Watch,wearables,150.0,30.0,4.6,4500.0,2.0
6,106,Running Shoes,clothing,35.0,25.0,4.1,875.0,0.0
7,107,Leather Jacket,clothing,120.0,10.0,4.9,1200.0,1.0
8,108,Winter Scarf,clothing,15.5,0.0,3.8,0.0,0.0

In [41]:
df_merged = df_merged.groupby(["Product_Name", "Product_ID", "Price", "Category", "Stock_Count"])["Units_Sold"].sum().reset_index()

In [42]:
df_merged

,Product_Name,Product_ID,Price,Category,Stock_Count,Units_Sold
0,Bluetooth Speaker,104,35.0,electronics,27.5,0.0
1,Gaming Monitor,103,250.0,electronics,20.0,2.0
2,Leather Jacket,107,120.0,clothing,10.0,1.0
3,Mechanical Keyboard,102,45.0,electronics,50.0,0.0
4,Running Shoes,106,35.0,clothing,25.0,0.0
5,Smart Watch,105,150.0,wearables,30.0,2.0
6,Winter Scarf,108,15.5,clothing,0.0,0.0
7,Wireless Mouse,101,25.5,electronics,100.0,8.0

In [43]:
df_merged["Total_Value"] = df_merged["Stock_Count"] * df_merged["Price"]

In [44]:
df_merged["Revenue"] = df_merged["Units_Sold"] * df_merged["Price"]

In [45]:
df_merged

,Product_Name,Product_ID,Price,Category,Stock_Count,Units_Sold,Total_Value,Revenue
0,Bluetooth Speaker,104,35.0,electronics,27.5,0.0,962.5,0.0
1,Gaming Monitor,103,250.0,electronics,20.0,2.0,5000.0,500.0
2,Leather Jacket,107,120.0,clothing,10.0,1.0,1200.0,120.0
3,Mechanical Keyboard,102,45.0,electronics,50.0,0.0,2250.0,0.0
4,Running Shoes,106,35.0,clothing,25.0,0.0,875.0,0.0
5,Smart Watch,105,150.0,wearables,30.0,2.0,4500.0,300.0
6,Winter Scarf,108,15.5,clothing,0.0,0.0,0.0,0.0
7,Wireless Mouse,101,25.5,electronics,100.0,8.0,2550.0,204.0

In [46]:
print(df_merged)

          Product_Name  Product_ID  Price     Category  Stock_Count  \
0    Bluetooth Speaker         104   35.0  electronics         27.5
1       Gaming Monitor         103  250.0  electronics         20.0
2       Leather Jacket         107  120.0     clothing         10.0
3  Mechanical Keyboard         102   45.0  electronics         50.0
4        Running Shoes         106   35.0     clothing         25.0
5          Smart Watch         105  150.0    wearables         30.0
6         Winter Scarf         108   15.5     clothing          0.0
7       Wireless Mouse         101   25.5  electronics        100.0

   Units_Sold  Total_Value  Revenue
0         0.0        962.5      0.0
1         2.0       5000.0    500.0
2         1.0       1200.0    120.0
3         0.0       2250.0      0.0
4         0.0        875.0      0.0
5         2.0       4500.0    300.0
6         0.0          0.0      0.0
7         8.0       2550.0    204.0