In [51]:
import  pandas as pd
from word2number import w2n

In [21]:
df = pd.read_csv("messy_ecommerce_data.csv")

In [22]:
df.head()

,user_id,age,gender,signup_date,last_login,country,purchase_amount,items_purchased,payment_method,is_returned,rating
0,U23654,69,Female,29/10/2019,NaN,USA,4666.979509973725,11,NaN,Y,4
1,U15795,11,NaN,2020-07-19,NaN,United States,5024.7990794836505,6,NaN,yes,5
2,U00860,41,Female,29/10/2019,NaN,USA,5232.839144301124,ten,Credit Card,yes,1
3,U05390,45,male,2020-07-19,NaN,india,3223.9413587660565,14,creditcard,yes,five
4,U29802,64,NaN,NaN,2021-08-02 00:00:00,USA,5718.729293990356,5,NaN,Y,3

In [23]:
df["is_returned"].isnull().sum()

np.int64(13190)

In [24]:
df.shape

(53000, 11)

In [25]:
df.drop_duplicates(inplace=True)

In [26]:
df.shape

(50000, 11)

In [30]:
df["country"] = df["country"].str.capitalize()

In [39]:
df["country"].unique()

array(['USA', 'India', 'UK', 'Germany', nan], dtype=object)

In [38]:
df["country"] = df["country"].str.replace("Usa", "USA")

In [46]:
df["payment_method"].unique()

array([nan, 'Creditcard', 'Upi', 'Debitcard', 'Cod', 'Netbanking'],
      dtype=object)

In [41]:
df["payment_method"] = df["payment_method"].str.capitalize()

In [44]:
df["payment_method"] = df["payment_method"].str.replace("Debit card", "Debitcard")

In [57]:
df["rating"].unique()

array(['4', '5', '1', '3', nan, '2', '6', '0'], dtype=object)

In [56]:
df["rating"] = df["rating"].str.replace("five", "5")

In [63]:
df["rating"] = df["rating"].astype("float64")

In [65]:
df["rating"] = df["rating"].clip(0 , 5)

In [67]:
df["rating"] = df["rating"].fillna(df["rating"].median())

In [69]:
df["rating"] = df["rating"].astype("int32")

In [72]:
df["rating"].unique()

array([4, 5, 1, 3, 2, 0], dtype=int32)