In [4]:
from pickletools import pyset

import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [4]:
df["Actor"]

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [6]:
df[["Actor", "IMDb"]]

                 Actor  IMDb
0       Shah Rukh Khan   7.2
1          Salman Khan   6.0
2           Aamir Khan   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6        Rajkummar Rao   7.5
7       Hrithik Roshan   6.5
8         Akshay Kumar   7.0
9        Kartik Aaryan   5.9
10        Varun Dhawan   6.1
11       Vicky Kaushal   8.2

In [7]:
df.loc[1]

Actor                       Salman Khan
Film                    Tiger Zinda Hai
Year                               2017
Genre                            Action
BoxOffice(INR Crore)                565
IMDb                                6.0
Name: 1, dtype: object

In [8]:
df.loc[8, "IMDb"]

np.float64(7.0)

In [10]:
df.loc[0:3, ["Actor", "Film"]]

            Actor             Film
0  Shah Rukh Khan          Pathaan
1     Salman Khan  Tiger Zinda Hai
2      Aamir Khan           Dangal
3   Ranbir Kapoor       Brahmastra

In [11]:
df.at[0, "Film"]

'Pathaan'

In [12]:
df[df["IMDb"] > 6]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [14]:
df[(df["IMDb"] > 6) & (df["Year"] > 2018)]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [16]:
df.query("Year > 2018 and IMDb > 6")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [5]:
physics = pd.read_excel("physics.xlsx")

In [6]:
physics

,Module -1,You tube videos
0,Concept of interference,https://www.youtube.com/watch?v=ZAI8obswodw
1,NaN,https://www.youtube.com/watch?v=RpShXRkJLIk&li...
2,Interference in thin films (reflected light),https://www.youtube.com/watch?v=X-44Ffc1WvQ&li...
3,"Newton's Rings and Michelson's Interferometer,...",https://www.youtube.com/watch?v=d3AMmzwO8Lw
4,NaN,https://www.youtube.com/watch?v=8j0lsH_36dI
5,NaN,https://www.youtube.com/watch?v=VCcwqUwxi2g
6,NaN,https://www.youtube.com/watch?v=_YFUxf80cGc&li...
7,Concept of Diffraction,https://www.youtube.com/watch?v=jUiiY0bUXec
8,Single slit Fraunhofer Diffraction,https://www.youtube.com/watch?v=rrzSwCFk23Y
9,Diffraction Grating and Spectrum,https://www.youtube.com/watch?v=gaEzRsyh-iU&li...
10,Determination of Wavelength,https://www.youtube.com/watch?v=Mde9xJ60o-4
11,Application of Grating as wavelength splitter,https://www.youtube.com/watch?v=lldgqUz-NRA
12,NaN,https://www.youtube.com/watch?v=flPSbngdLwI
13,NaN,NaN
14,Module-2,NaN
15,Einstein's Theory of laser action,https://www.youtube.com/watch?v=rrUvcZKpBTA
16,"Einstein's coefficients,",https://www.youtube.com/watch?v=hfR16hKX9UQ
17,population inversion and lasing action,https://www.youtube.com/watch?v=Ox4IPUaigG0
18,NaN,https://www.youtube.com/watch?v=gdNHh6MSPHA
19,NaN,https://www.youtube.com/watch?v=eEjbVU5FirQ
20,Properties of Laser beam,https://www.youtube.com/watch?v=MHHceo3EZf4
21,Construction and working of He-Ne and semicond...,https://www.youtube.com/watch?v=be8VMm2hDAo&t=77s
22,Applications of Lasers in Science\nand enginee...,https://www.youtube.com/watch?v=f-Za6hNMgBA
23,Optical Fiber:,NaN
24,"Structure, Types, Features",https://www.youtube.com/watch?v=n_yk4mSg7jY
25,"Light guiding mechanism,",https://www.youtube.com/watch?v=4Odp6wTTlSU
26,Acceptance angle and\nNumerical Aperture,https://www.youtube.com/watch?v=q37CpocWZyw
27,NaN,https://www.youtube.com/watch?v=x3CHQ9qloME
28,NaN,NaN
29,Module-3,NaN
30,Concepts and Experiments that led to the disco...,https://www.youtube.com/watch?v=mDh7KWFBPXQ
31,NaN,https://www.youtube.com/watch?v=IMNDVXfI5ok
32,NaN,https://www.youtube.com/watch?v=ZL7vK1H4s5Y
33,Heisenberg uncertainty principle,https://www.youtube.com/watch?v=XpXNm0gy6Bw
34,Wave\nfunction and basic postulate of wave mec...,https://www.youtube.com/watch?v=K4OPCbg4ygc
35,NaN,https://www.youtube.com/watch?v=0uTZLHaGS-M
36,NaN,https://www.youtube.com/watch?v=rxkf9NcA_6o
37,NaN,https://www.youtube.com/watch?v=9LZPBG-VROk
38,NaN,https://www.youtube.com/watch?v=wmZsru5FL1s
39,Schrodinger time independent and time dependen...,https://www.youtube.com/watch?v=QdQE-F2A0T4
40,NaN,https://www.youtube.com/watch?v=siJIJtV-JBU
41,Physical interpretation of wave function and p...,https://www.youtube.com/watch?v=fqEtDiYAg5E
42,The free particle problem - Particle in 1-\ndi...,https://www.youtube.com/watch?v=Yr4R3GhjdBU
43,NaN,https://www.youtube.com/shorts/l_TXf5MUORU
44,NaN,https://www.youtube.com/watch?v=a8xacrdNuNI
45,NaN,https://www.youtube.com/watch?v=UrN2Zv4lk-o
46,NaN,https://www.youtube.com/watch?v=WqUrSV3VBZ0
47,NaN,https://www.youtube.com/watch?v=Yr4R3GhjdBU
48,NaN,https://www.youtube.com/watch?v=R25WtkjBiFU
49,NaN,https://www.youtube.com/watch?v=uqzN_Ujl-AU
50,NaN,https://www.youtube.com/watch?v=uPvWlwOhCTo
51,NaN,https://www.youtube.com/watch?v=WjuH2iPGIbE&t=...
52,NaN,NaN
53,Module-4,NaN

In [27]:
physics = pd.read_excel("CSE.xlsx")
physics

,"NIELIT , AURANGABAD",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,,Unnamed: 13
0,Continuous Assessment (Theory) for Students of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,Sr.No,Student Reg.No,Name,Subject Name with code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Assesment 1 (50),NaN,NaN,Assesment 2 (50),NaN,NaN,Total (100),NaN,NaN,Signature,NaN
4,NaN,NaN,NaN,Type,Mark (32.5),Attendence (17.5),Type,Mark (32.5),Attendence (17.5),Mark (65),Attendencce (35),Total (100),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,Signature of the Faculty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,Arnab Chatterjee,NaN,NaN,NaN,Ashwini Kumar Tickoo,NaN,NaN,Dr. Jayaraj U Kidav,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,Engineering Mathematics - III,NaN,NaN,NaN,NaN,Dean Academics,NaN,NaN,Executive Director,NaN,NaN

In [52]:
data = physics.loc[5:, ["NIELIT , AURANGABAD", "Unnamed: 1", "Unnamed: 2", "Unnamed: 4", "Unnamed: 7", "Unnamed: 9"]]

KeyError: "['NIELIT , AURANGABAD', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 7', 'Unnamed: 9'] not in index"

In [29]:
data

,"NIELIT , AURANGABAD",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 7,Unnamed: 9
5,1,NDU202500185,Shaik Nizamuddin,32.5,25,57.5
6,2,NDU202500186,Piyush Raj,32.5,30,62.5
7,3,NDU202500187,Guvvala Nanivardhan\nReddy,32.5,15,47.5
8,4,NDU202500188,Adesh Dahat,32.5,25,57.5
9,5,NDU202500189,Lucky Patel,32.5,30,62.5
...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,Signature of the Faculty,NaN,NaN,NaN
67,NaN,NaN,NaN,Arnab Chatterjee,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
data.rename(columns={"NIELIT , AURANGABAD": "Roll", "Unnamed: 1 ": "NUD", "Unnamed: 2": "Name","Unnamed: 4": "Mark1", "Unnamed: 7": "Mark2", "Unnamed: 9":  "Total"}, inplace=True)

In [38]:
data.columns

Index(['Roll', 'Unnamed: 1', 'Name', 'Mark1', 'Mark2', 'Total'], dtype='object')

In [36]:
data

,Roll,Unnamed: 1,Name,Mark1,Mark2,Total
5,1,NDU202500185,Shaik Nizamuddin,32.5,25,57.5
6,2,NDU202500186,Piyush Raj,32.5,30,62.5
7,3,NDU202500187,Guvvala Nanivardhan\nReddy,32.5,15,47.5
8,4,NDU202500188,Adesh Dahat,32.5,25,57.5
9,5,NDU202500189,Lucky Patel,32.5,30,62.5
...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,Signature of the Faculty,NaN,NaN,NaN
67,NaN,NaN,NaN,Arnab Chatterjee,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
data.rename({"Unnamed: 1": "NDU"}, inplace=True)

In [44]:
data

,Roll,Unnamed: 1,Name,Mark1,Mark2,Total
5,1,NDU202500185,Shaik Nizamuddin,32.5,25,57.5
6,2,NDU202500186,Piyush Raj,32.5,30,62.5
7,3,NDU202500187,Guvvala Nanivardhan\nReddy,32.5,15,47.5
8,4,NDU202500188,Adesh Dahat,32.5,25,57.5
9,5,NDU202500189,Lucky Patel,32.5,30,62.5
...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,Signature of the Faculty,NaN,NaN,NaN
67,NaN,NaN,NaN,Arnab Chatterjee,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
data

   Roll    Unnamed: 1                           Name  Mark1 Mark2  Total
5     1  NDU202500185               Shaik Nizamuddin   32.5    25   57.5
6     2  NDU202500186                     Piyush Raj   32.5    30   62.5
7     3  NDU202500187     Guvvala Nanivardhan\nReddy   32.5    15   47.5
8     4  NDU202500188                    Adesh Dahat   32.5    25   57.5
9     5  NDU202500189                    Lucky Patel   32.5    30   62.5
10    6  NDU202500190           Kurimineni Durga Sai   32.5    25   57.5
11    7  NDU202500191              Sujaay Kadorkajan  29.25    20  49.25
12    8  NDU202500192                  Sarthak Verma     26    28     54
13    9  NDU202500193                Divyanshu Yadav   32.5    25   57.5
14   10  NDU202500194         Rohitash Singh Rathore     26    22     48
15   11  NDU202500195              Harshal Hingankar     26    24     50
16   12  NDU202500196               Macharla Ganguly     26    25     51
17   13  NDU202500197  Golhare Pruthviraj\nMadhavrao     26    26     52
18   14  NDU202500198                   Aditya Kumar   32.5  32.5     65
19   15  NDU202500199     Jaiswal Vinod Mata\nPrasad   32.5    27   59.5
20   16  NDU202500200               Abhinandan Kumar   32.5    20   52.5
21   17  NDU202500201           Adarsh Pruthvi patil   32.5    27   59.5
22   18  NDU202500202              Minnisha Mamuduri   32.5    20   52.5
23   19  NDU202500203             Pushpendra Chauhan   32.5    32   64.5
24   20  NDU202500204              Chanda Sudharshan     26    32     58
25   21  NDU202500205                   Prince Kumar     26    28     54
26   22  NDU202500206                 Shreyash Tigga   32.5    28   60.5
27   23  NDU202500207                  Puskar Mishra  22.75    28  50.75
28   24  NDU202500208                          Rahul   32.5    28   60.5
29   25  NDU202500209                          Lalit   32.5    30   62.5
30   26  NDU202500210                   Pratik Kumar     26    26     52
31   27  NDU202500211          Chandra Shekar Banoth   32.5    27   59.5
32   28  NDU202500212                 Garvit Agarwal   32.5    28   60.5
33   29  NDU202500213                Sharanya Bogala   32.5    27   59.5
34   30  NDU202500214               Kailash Prajapat   32.5    22   54.5
35   31  NDU202500215                         Rakesh   32.5    30   62.5
36   32  NDU202500216                 Nishant ranjan    NaN   NaN      0
37   33  NDU202500217     Chandragiri\nMahammad Anas   32.5    20   52.5
38   34  NDU202500218        Pulicherla Pavan\nKumar      0    28     28
39   35  NDU202500219                Vedant Kademani   32.5    25   57.5
40   36  NDU202500220           Sahil Jaichand Yadav   32.5    30   62.5
41   37  NDU202500221                Busari Likhitha   32.5    25   57.5
42   38  NDU202500222         Gosavi Akshay\nBhagwan   32.5    30   62.5
43   39  NDU202500223           Siddiqui Imrah Adeen   32.5    30   62.5
44   40  NDU202500224           Syed Abdul Nafey Ali     26    27     53
45   41  NDU202500225      Dongre Srushti\nRamprasad   32.5    27   59.5
46   42  NDU202500226                Kshitij Narwade   32.5    25   57.5
47   43  NDU202500227                  Utkarsh Kumar   32.5    27   59.5
48   44  NDU202500228         Bodhak Sagar\nDadabhau   32.5    24   56.5
49   45  NDU202500229           Viraj Pralhad Wavhal   32.5    26   58.5
50   46  NDU202500230       Shaikh Zoha Zoeb\nShaikh     26    22     48
51   47  NDU202500231        Tanishka Kailas\nMhaske   32.5    29   61.5
52   48  NDU202500232          Pragati Anshu Bhowate   32.5    22   54.5
53   49  NDU202500233            Durge Riya Rajkumar   32.5    25   57.5
54   50  NDU202500234  Pradnya Kishor\nKukkadgaonkar    NaN     0      0
55   51  NDU202500235      Zakade Takshak\nSiddharth     26  32.5   58.5
56   52  NDU202500236         Wadmare Anushka\nAbhay     26    30     56
57   53  NDU202500237                Ritesh Wankhede   32.5    25   57.5

In [60]:
data.query("Total > 55")

   Roll    Unnamed: 1                        Name Mark1 Mark2 Total
5     1  NDU202500185            Shaik Nizamuddin  32.5    25  57.5
6     2  NDU202500186                  Piyush Raj  32.5    30  62.5
8     4  NDU202500188                 Adesh Dahat  32.5    25  57.5
9     5  NDU202500189                 Lucky Patel  32.5    30  62.5
10    6  NDU202500190        Kurimineni Durga Sai  32.5    25  57.5
13    9  NDU202500193             Divyanshu Yadav  32.5    25  57.5
18   14  NDU202500198                Aditya Kumar  32.5  32.5    65
19   15  NDU202500199  Jaiswal Vinod Mata\nPrasad  32.5    27  59.5
21   17  NDU202500201        Adarsh Pruthvi patil  32.5    27  59.5
23   19  NDU202500203          Pushpendra Chauhan  32.5    32  64.5
24   20  NDU202500204           Chanda Sudharshan    26    32    58
26   22  NDU202500206              Shreyash Tigga  32.5    28  60.5
28   24  NDU202500208                       Rahul  32.5    28  60.5
29   25  NDU202500209                       Lalit  32.5    30  62.5
31   27  NDU202500211       Chandra Shekar Banoth  32.5    27  59.5
32   28  NDU202500212              Garvit Agarwal  32.5    28  60.5
33   29  NDU202500213             Sharanya Bogala  32.5    27  59.5
35   31  NDU202500215                      Rakesh  32.5    30  62.5
39   35  NDU202500219             Vedant Kademani  32.5    25  57.5
40   36  NDU202500220        Sahil Jaichand Yadav  32.5    30  62.5
41   37  NDU202500221             Busari Likhitha  32.5    25  57.5
42   38  NDU202500222      Gosavi Akshay\nBhagwan  32.5    30  62.5
43   39  NDU202500223        Siddiqui Imrah Adeen  32.5    30  62.5
45   41  NDU202500225   Dongre Srushti\nRamprasad  32.5    27  59.5
46   42  NDU202500226             Kshitij Narwade  32.5    25  57.5
47   43  NDU202500227               Utkarsh Kumar  32.5    27  59.5
48   44  NDU202500228      Bodhak Sagar\nDadabhau  32.5    24  56.5
49   45  NDU202500229        Viraj Pralhad Wavhal  32.5    26  58.5
51   47  NDU202500231     Tanishka Kailas\nMhaske  32.5    29  61.5
53   49  NDU202500233         Durge Riya Rajkumar  32.5    25  57.5
55   51  NDU202500235   Zakade Takshak\nSiddharth    26  32.5  58.5
56   52  NDU202500236      Wadmare Anushka\nAbhay    26    30    56
57   53  NDU202500237             Ritesh Wankhede  32.5    25  57.5