In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [4]:
df = df.query("IMDb > 6")

In [5]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [7]:
df.to_csv("data_updated.csv")

In [8]:
df = pd.read_excel("data.xlsx")

In [9]:
df

,Student Name,Present Day Percentage(Sept),Present Day Percentage(Oct),Present Day Percentage(Nov),Oveall Percentage
0,Shaik Nizamuddin,100.00,91.67,100.0,97.223333
1,Piyush Raj,42.86,100.00,100.0,80.953333
2,Guvvala nanni Vardhan Reddy,92.86,100.00,100.0,97.620000
3,Adesh Dahat,64.29,75.00,100.0,79.763333
4,Lucky Patel,92.86,66.67,100.0,86.510000
...,...,...,...,...,...
57,Pratiksha Patil,57.14,75.00,100.0,77.380000
58,Tejal Prashant Zakade,28.57,83.33,50.0,53.966667
59,Suradkar sumedh Rajendra,28.57,83.33,0.0,37.300000
60,Bhalerao mansi Sachin,7.14,0.00,0.0,2.380000
61,Viresh Amar Singh,7.14,0.00,NaN,2.380000

In [12]:
df = df.query("`Oveall Percentage` > 80")

In [13]:
df

,Student Name,Present Day Percentage(Sept),Present Day Percentage(Oct),Present Day Percentage(Nov),Oveall Percentage
0,Shaik Nizamuddin,100.00,91.67,100.0,97.223333
1,Piyush Raj,42.86,100.00,100.0,80.953333
2,Guvvala nanni Vardhan Reddy,92.86,100.00,100.0,97.620000
4,Lucky Patel,92.86,66.67,100.0,86.510000
5,Kurtminent durga sai,100.00,75.00,100.0,91.666667
6,Sujaay Kadorkajan,100.00,66.67,75.0,80.556667
7,Sarthak Verma,100.00,75.00,100.0,91.666667
8,Divyanshu Yadav,100.00,91.67,100.0,97.223333
9,Rohitash Singh Rathore,100.00,83.33,100.0,94.443333
11,Harshal Hingankar,64.29,91.67,100.0,85.320000
12,Macharla Ganguly,92.86,50.00,100.0,80.953333
14,Aditya Kumar,100.00,83.33,100.0,94.443333
15,Jaiswal Vinod Mata Prasad,100.00,75.00,100.0,91.666667
16,Abhinandan Kumar,100.00,50.00,100.0,83.333333
17,Adarsh Pruthvi patil,100.00,66.67,100.0,88.890000
18,Minnisha Mamuduri,100.00,83.33,75.0,86.110000
19,Pushpendra Chavhan,85.71,83.33,100.0,89.680000
20,Chanda Sudarshan,100.00,91.67,100.0,97.223333
21,Prince Kumar,100.00,66.67,100.0,88.890000
22,Shreyash Tigga,100.00,100.00,100.0,100.000000
23,Pushkar Mishra,100.00,66.67,100.0,88.890000
24,Rahul Vinod Kumar,100.00,100.00,100.0,100.000000
25,Lalit Moolaram Manli,100.00,91.67,75.0,88.890000
27,Pratik Kumar,100.00,100.00,100.0,100.000000
31,Sharanya Bogala,100.00,58.33,100.0,86.110000
32,kailash Prajapat,100.00,91.67,100.0,97.223333
35,Chandragiri Mahammad Anas,100.00,75.00,100.0,91.666667
36,Pulicherla Pavan Kumar,92.86,75.00,100.0,89.286667
37,Vedant Kademani,100.00,66.67,100.0,88.890000
38,Sahil Jaichand Yadav,100.00,75.00,75.0,83.333333
39,Busari Likhitha,100.00,66.67,100.0,88.890000
40,Gosavi Akshay Bhagwan,57.14,83.33,100.0,80.156667
43,Dongre shrushti ramprasad,71.43,83.33,100.0,84.920000
49,Tanishka Kailas Mhaske,71.43,75.00,100.0,82.143333
56,Ritesh Wankhede,42.86,100.00,100.0,80.953333

In [15]:
with pd.ExcelWriter("Eligible.xlsx") as writer:
        df.to_excel(writer, sheet_name="Sheet1")